footer {
  background-color: #929292;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: small;
  font-weight: 300;
  padding-top: 5px;
  padding-bottom: 5px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.imgMargin {
  margin-right: 10px;
  margin-left: 10px;
}

.fila {
  --bs-gutter-x: 0;
}